docs/n8n/legados/4-agente-ia-de-agendamento-imobiliaria-morada-one.json
{
  "updatedAt": "2026-03-27T19:07:33.045Z",
  "createdAt": "2026-03-27T17:23:31.120Z",
  "id": "KTHguJQJYTdPUP4i",
  "name": "4- Agente IA de Agendamento | Imobiliaria Morada One",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51bd4896-17e9-484b-b08a-b6854225ccb3",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1376,
        96
      ],
      "id": "b5fe223b-9d85-4d3b-b1a2-9d5df63434d5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        416
      ],
      "id": "b5312067-5e39-42b3-8a11-09120087fabf",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "o2dGjNekswTmljmN",
          "name": "OpenAi andre"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 616,
        "width": 1676,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "22b87700-1ecb-4cc9-8e9f-4ec9194dd53e",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Agenda",
        "height": 240,
        "width": 704
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        944,
        352
      ],
      "typeVersion": 1,
      "id": "7683ae57-fac7-42fc-ac96-794a35f5999e",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3058e999-b1bf-43f3-b95c-bf1d71157c51",
              "name": "Duvida",
              "value": "={{ $('When Executed by Another Workflow').item.json.duvida }}",
              "type": "string"
            },
            {
              "id": "c6e2e733-5bb4-4b3d-9a79-cf43a9e56458",
              "name": "whatsapp_lead",
              "value": "={{ $('When Executed by Another Workflow').item.json.whasapp_lead }}",
              "type": "string"
            },
            {
              "id": "bd3f6d15-6dc9-4367-936d-1d44be4865e8",
              "name": "Imovel_desejado",
              "value": "={{ $('When Executed by Another Workflow').item.json.Imovel_desejado }}",
              "type": "string"
            },
            {
              "id": "2986dc61-de65-440b-846c-d36b4d60d75b",
              "name": "proximos_dias",
              "value": "={{ $json.resultado }}",
              "type": "string"
            },
            {
              "id": "8bf6db00-62f1-407f-8fa5-49f52dfa9fd3",
              "name": "id_agendamento",
              "value": "={{ $('puxar_lead').item.json.id_agendamento }}",
              "type": "string"
            },
            {
              "id": "c701efff-f307-441c-9115-2cba7a9d7cc8",
              "name": "url_chatwoot",
              "value": "={{ $('When Executed by Another Workflow').item.json.url_chatwoot }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        96
      ],
      "id": "e5a849dd-f298-45ba-b919-037236e1c835",
      "name": "setarInfo3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Duvida }}\n\nImovel desejado: {{ $json.Imovel_desejado }}",
        "options": {
          "systemMessage": "=# IDENTIDADE\n\nVocê é um **agente interno** responsável exclusivamente por **gerenciar a agenda de atendimentos imobiliários** do corretor autônomo.\n\nSeu papel é garantir que todas as **reuniões com clientes** sejam organizadas de forma precisa, respeitando os horários disponíveis e a duração de 30 minutos para cada atendimento.\n\n# SUA FUNÇÃO\n\n-   Verificar a **disponibilidade de datas e horários** para reuniões.\n    \n-   **Agendar, remarcar ou cancelar** atendimentos com clientes interessados em imóveis.\n    \n-   Validar sempre os **pré-requisitos obrigatórios** antes de confirmar o agendamento: **nome completo**, data/hora desejada e **imóvel desejado**.\n\n# DIAS E HORÁRIOS DISPONÍVEIS\n\n-   O corretor realiza atendimentos **de segunda a sábado, das 10h às 18h**.\n-   Cada reunião tem duração de **30 minutos**.\n-   Domingos e feriados não possuem atendimento disponível.\n-   Os horários devem sempre ser informados com **dia da semana, data (dia e mês) e hora**, no formato:\n    > Exemplo: “Quarta-feira, dia 18/05, às 15h”.\n\n# TOOLS DISPONÍVEIS\n\n## 1. Nome da tool: `criar_visita`\n\n**Quando usar:**\n-   Sempre que precisar **marcar uma visita de um imóvel** na agenda.\n-   Antes de chamar essa tool, é obrigatório ter:\n    1.  **Nome completo** do cliente\n    2.  **Data e hora** desejadas   \n    3.  **Imóvel desejado** \n\n**Quando não usar:**\n-   Se faltar qualquer um dos dados obrigatórios acima.\n\n## 2. Nome da tool: `reagendar_visita`\n\n**Quando usar:**\n-   Quando o cliente solicitar a **mudança de data ou horário** de uma reunião já marcada.\n-   Utilize as informações existentes no histórico da conversa.\n\n**Quando não usar:**\n-   Se o cliente não tiver uma reunião previamente agendada.\n\n## 3. Nome da tool: `cancelar_visita`\n\n**Quando usar:**\n-   Quando o cliente solicitar o **cancelamento** de uma reunião já agendada.\n\n**Quando não usar:**\n-   Se não houver reunião marcada ou se o cliente estiver apenas com dúvida.\n\n## 4. Nome da tool: `VerHorarios`\n\n**Quando usar:**\n-   Para **consultar os dias e horários disponíveis** na agenda.\n-   Deve informar de forma clara se o horário está **disponível** ou **indisponível**.\n\n**Quando não usar:**\n-   Para confirmar ou marcar diretamente o agendamento — use apenas para consulta de disponibilidade.\n\n# REGRAS GERAIS\n-   Sempre confirmar os **pré-requisitos obrigatórios** antes de agendar: **nome completo**, **WhatsApp** e **imóvel desejado**.\n-   Cada reunião deve ter **30 minutos de duração**.\n-   Os atendimentos são realizados **de segunda a sábado, das 10h às 18h**.\n-   Sempre que mencionar um horário, informe o **dia da semana**, **data (dia e mês)** e **hora**, no formato:\n    > Exemplo: “Sexta-feira, dia 22/08, às 11h”.\n\n-   **Nunca informe o ano**.\n-   Caso o cliente pergunte sobre horários disponíveis, apresente no máximo **quatro opções**.\n-   Não é necessário nenhum pagamento ou sinal para confirmar o agendamento.\n\n# DATA E HORA ATUALIZADOS\nUse estas informações como contexto de data e hora nas conversas:\n\n{{ $json.proximos_dias }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        976,
        96
      ],
      "id": "3cc24e22-7085-45c3-b27f-7edd686ecdb1",
      "name": "Agendar"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "duvida"
            },
            {
              "name": "whasapp_lead"
            },
            {
              "name": "Imovel_desejado"
            },
            {
              "name": "url_chatwoot"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        48,
        96
      ],
      "id": "e9bf7cae-93aa-40a7-af4d-1306a67c1902",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "const days = ['domingo', 'segunda', 'terça', 'quarta', 'quinta', 'sexta', 'sábado'];\nconst now = new Date();   // <-- ESTA LINHA ESTAVA FALTANDO\nconst pad = (n) => String(n).padStart(2, '0');\n\nlet result = '';\n\nfor (let i = 1; i <= 10; i++) {\n  const future = new Date(now);\n  future.setDate(now.getDate() + i);\n\n  let label = '';\n\n  if (i === 1) {\n    label = `Amanhã é ${days[future.getDay()]} ${pad(future.getDate())}/${pad(future.getMonth() + 1)}/${String(future.getFullYear()).slice(2)}`;\n  } else if (i === 2) {\n    label = `Depois de amanhã é ${days[future.getDay()]} ${pad(future.getDate())}/${pad(future.getMonth() + 1)}/${String(future.getFullYear()).slice(2)}`;\n  } else {\n    label = `${days[future.getDay()]} será dia ${pad(future.getDate())}/${pad(future.getMonth() + 1)}/${String(future.getFullYear()).slice(2)}`;\n  }\n\n  result += `${label}\\n`;\n}\n\nreturn [\n  {\n    json: {\n      resultado: result.trim()\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        96
      ],
      "id": "1b129ee7-8f0a-4628-9815-da6105514ee6",
      "name": "proximos_dias"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OcvkTYN4KJPuOH9C",
          "mode": "id",
          "cachedResultUrl": "/workflow/OcvkTYN4KJPuOH9C"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "evento": "agendamento",
            "nome_lead": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome_lead', `Coloque aqui o nome do paciente. Se tiver o nome completo, coloque tudo.`, 'string') }}",
            "inicio_agendamento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('inicio_agendamento', `Coloque aqui a data e hora do inicio da consulta.`, 'string') }}",
            "final_agendamento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('final_agendamento', `Coloque aqui a data e hora do final da consulta.`, 'string') }}",
            "whatsapp_lead": "={{ $json.whatsapp_lead }}",
            "url_chatwoot": "={{ $json.url_chatwoot }}",
            "intencao_lead": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('intencao_lead', `Aqui é a intenção do lead se é \"Alugar imóvel\" ou \"Comprar imóvel\". Deve ser uma dessas duas opções.`, 'string') }}",
            "imovel_lead": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imovel_lead', `Descreva aqui qual o imóvel o lead deseja. Coloque aqui todas as características do imóvel, sem inventar nenhuma informação.`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nome_lead",
              "displayName": "nome_lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "inicio_agendamento",
              "displayName": "inicio_agendamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "final_agendamento",
              "displayName": "final_agendamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "evento",
              "displayName": "evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "whatsapp_lead",
              "displayName": "whatsapp_lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_agendamento",
              "displayName": "id_agendamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "url_chatwoot",
              "displayName": "url_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "intencao_lead",
              "displayName": "intencao_lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "imovel_lead",
              "displayName": "imovel_lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1040,
        432
      ],
      "id": "47ee0867-5d57-47ce-b821-1a101a10d495",
      "name": "marcar_visita"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OcvkTYN4KJPuOH9C",
          "mode": "id",
          "cachedResultUrl": "/workflow/OcvkTYN4KJPuOH9C"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "evento": "reagendamento",
            "id_agendamento": "={{ $json.id_agendamento }}",
            "whatsapp_lead": "={{ $json.whatsapp_lead }}",
            "nome_lead": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome_lead', `Coloque aqui o nome do paciente. Se tiver o nome completo, coloque tudo.`, 'string') }}",
            "inicio_agendamento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('inicio_agendamento', `Coloque aqui a data e hora do inicio da consulta.`, 'string') }}",
            "final_agendamento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('final_agendamento', `Coloque aqui a data e hora final da consulta.`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nome_lead",
              "displayName": "nome_lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "inicio_agendamento",
              "displayName": "inicio_agendamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "final_agendamento",
              "displayName": "final_agendamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "evento",
              "displayName": "evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "whatsapp_lead",
              "displayName": "whatsapp_lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_agendamento",
              "displayName": "id_agendamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "url_chatwoot",
              "displayName": "url_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "intencao_lead",
              "displayName": "intencao_lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "imovel_lead",
              "displayName": "imovel_lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1200,
        432
      ],
      "id": "425a768f-6b9a-43c1-86b0-7cc765c97434",
      "name": "reagendar_visita"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OcvkTYN4KJPuOH9C",
          "mode": "id",
          "cachedResultUrl": "/workflow/OcvkTYN4KJPuOH9C"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "evento": "cancelamento",
            "id_agendamento": "={{ $json.id_agendamento }}",
            "whatsapp_lead": "={{ $json.whatsapp_lead }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nome_lead",
              "displayName": "nome_lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "inicio_agendamento",
              "displayName": "inicio_agendamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "final_agendamento",
              "displayName": "final_agendamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "evento",
              "displayName": "evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "whatsapp_lead",
              "displayName": "whatsapp_lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_agendamento",
              "displayName": "id_agendamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "url_chatwoot",
              "displayName": "url_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "intencao_lead",
              "displayName": "intencao_lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "imovel_lead",
              "displayName": "imovel_lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1488,
        432
      ],
      "id": "0d061173-8fbc-480c-8aaa-df52c2643ac5",
      "name": "cancelar_visita"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OcvkTYN4KJPuOH9C",
          "mode": "id",
          "cachedResultUrl": "/workflow/OcvkTYN4KJPuOH9C"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "evento": "VerHorarios"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nome_lead",
              "displayName": "nome_lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "inicio_agendamento",
              "displayName": "inicio_agendamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "final_agendamento",
              "displayName": "final_agendamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "evento",
              "displayName": "evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "whatsapp_lead",
              "displayName": "whatsapp_lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "id_agendamento",
              "displayName": "id_agendamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "url_chatwoot",
              "displayName": "url_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "intencao_lead",
              "displayName": "intencao_lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "imovel_lead",
              "displayName": "imovel_lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1344,
        432
      ],
      "id": "2de993b8-7748-4fa7-b25a-3f0f1252b0ab",
      "name": "VerHorarios"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.whatsapp_lead }}",
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        656,
        416
      ],
      "id": "21c4bb12-d77a-4baf-831f-c640892a66c7",
      "name": "memoria",
      "credentials": {
        "postgres": {
          "id": "nkoxAzqCaGBsen34",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "IMOBILIARIA_ANDRE",
        "filters": {
          "conditions": [
            {
              "keyName": "Whatsapp",
              "keyValue": "={{ $json.whasapp_lead }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        256,
        96
      ],
      "id": "07c4839e-c5fa-4959-98b2-4d0d16da98b2",
      "name": "puxar_lead",
      "credentials": {
        "supabaseApi": {
          "id": "5FjTcJdDLCf35qXe",
          "name": "Supabase andre"
        }
      }
    }
  ],
  "connections": {
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Agendar",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "setarInfo3": {
      "main": [
        [
          {
            "node": "Agendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendar": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "puxar_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "proximos_dias": {
      "main": [
        [
          {
            "node": "setarInfo3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "marcar_visita": {
      "ai_tool": [
        [
          {
            "node": "Agendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "reagendar_visita": {
      "ai_tool": [
        [
          {
            "node": "Agendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cancelar_visita": {
      "ai_tool": [
        [
          {
            "node": "Agendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "VerHorarios": {
      "ai_tool": [
        [
          {
            "node": "Agendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "memoria": {
      "ai_memory": [
        [
          {
            "node": "Agendar",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "puxar_lead": {
      "main": [
        [
          {
            "node": "proximos_dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "bf940eeb-e93a-4e34-bd0e-5ff92644e6da",
  "activeVersionId": "bf940eeb-e93a-4e34-bd0e-5ff92644e6da",
  "versionCounter": 15,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-27T17:23:31.129Z",
      "createdAt": "2026-03-27T17:23:31.129Z",
      "role": "workflow:owner",
      "workflowId": "KTHguJQJYTdPUP4i",
      "projectId": "AKiCCH0oxaoQhr2Z",
      "project": {
        "updatedAt": "2026-03-27T14:30:55.615Z",
        "createdAt": "2026-03-27T14:27:20.854Z",
        "id": "AKiCCH0oxaoQhr2Z",
        "name": "PABLO MEDINA <digitalvisualis@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "595fd4e5-a243-4d30-88ac-7327a99f627e"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-27T19:07:37.000Z",
    "createdAt": "2026-03-27T19:07:33.053Z",
    "versionId": "bf940eeb-e93a-4e34-bd0e-5ff92644e6da",
    "workflowId": "KTHguJQJYTdPUP4i",
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "51bd4896-17e9-484b-b08a-b6854225ccb3",
                "name": "response",
                "value": "={{ $json.output }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1376,
          96
        ],
        "id": "b5fe223b-9d85-4d3b-b1a2-9d5df63434d5",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4.1-mini",
            "mode": "list",
            "cachedResultName": "gpt-4.1-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          480,
          416
        ],
        "id": "b5312067-5e39-42b3-8a11-09120087fabf",
        "name": "OpenAI Chat Model2",
        "credentials": {
          "openAiApi": {
            "id": "o2dGjNekswTmljmN",
            "name": "OpenAi andre"
          }
        }
      },
      {
        "parameters": {
          "content": "",
          "height": 616,
          "width": 1676,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          0
        ],
        "typeVersion": 1,
        "id": "22b87700-1ecb-4cc9-8e9f-4ec9194dd53e",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "content": "## Agenda",
          "height": 240,
          "width": 704
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          944,
          352
        ],
        "typeVersion": 1,
        "id": "7683ae57-fac7-42fc-ac96-794a35f5999e",
        "name": "Sticky Note12"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3058e999-b1bf-43f3-b95c-bf1d71157c51",
                "name": "Duvida",
                "value": "={{ $('When Executed by Another Workflow').item.json.duvida }}",
                "type": "string"
              },
              {
                "id": "c6e2e733-5bb4-4b3d-9a79-cf43a9e56458",
                "name": "whatsapp_lead",
                "value": "={{ $('When Executed by Another Workflow').item.json.whasapp_lead }}",
                "type": "string"
              },
              {
                "id": "bd3f6d15-6dc9-4367-936d-1d44be4865e8",
                "name": "Imovel_desejado",
                "value": "={{ $('When Executed by Another Workflow').item.json.Imovel_desejado }}",
                "type": "string"
              },
              {
                "id": "2986dc61-de65-440b-846c-d36b4d60d75b",
                "name": "proximos_dias",
                "value": "={{ $json.resultado }}",
                "type": "string"
              },
              {
                "id": "8bf6db00-62f1-407f-8fa5-49f52dfa9fd3",
                "name": "id_agendamento",
                "value": "={{ $('puxar_lead').item.json.id_agendamento }}",
                "type": "string"
              },
              {
                "id": "c701efff-f307-441c-9115-2cba7a9d7cc8",
                "name": "url_chatwoot",
                "value": "={{ $('When Executed by Another Workflow').item.json.url_chatwoot }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          720,
          96
        ],
        "id": "e5a849dd-f298-45ba-b919-037236e1c835",
        "name": "setarInfo3"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.Duvida }}\n\nImovel desejado: {{ $json.Imovel_desejado }}",
          "options": {
            "systemMessage": "=# IDENTIDADE\n\nVocê é um **agente interno** responsável exclusivamente por **gerenciar a agenda de atendimentos imobiliários** do corretor autônomo.\n\nSeu papel é garantir que todas as **reuniões com clientes** sejam organizadas de forma precisa, respeitando os horários disponíveis e a duração de 30 minutos para cada atendimento.\n\n# SUA FUNÇÃO\n\n-   Verificar a **disponibilidade de datas e horários** para reuniões.\n    \n-   **Agendar, remarcar ou cancelar** atendimentos com clientes interessados em imóveis.\n    \n-   Validar sempre os **pré-requisitos obrigatórios** antes de confirmar o agendamento: **nome completo**, data/hora desejada e **imóvel desejado**.\n\n# DIAS E HORÁRIOS DISPONÍVEIS\n\n-   O corretor realiza atendimentos **de segunda a sábado, das 10h às 18h**.\n-   Cada reunião tem duração de **30 minutos**.\n-   Domingos e feriados não possuem atendimento disponível.\n-   Os horários devem sempre ser informados com **dia da semana, data (dia e mês) e hora**, no formato:\n    > Exemplo: “Quarta-feira, dia 18/05, às 15h”.\n\n# TOOLS DISPONÍVEIS\n\n## 1. Nome da tool: `criar_visita`\n\n**Quando usar:**\n-   Sempre que precisar **marcar uma visita de um imóvel** na agenda.\n-   Antes de chamar essa tool, é obrigatório ter:\n    1.  **Nome completo** do cliente\n    2.  **Data e hora** desejadas   \n    3.  **Imóvel desejado** \n\n**Quando não usar:**\n-   Se faltar qualquer um dos dados obrigatórios acima.\n\n## 2. Nome da tool: `reagendar_visita`\n\n**Quando usar:**\n-   Quando o cliente solicitar a **mudança de data ou horário** de uma reunião já marcada.\n-   Utilize as informações existentes no histórico da conversa.\n\n**Quando não usar:**\n-   Se o cliente não tiver uma reunião previamente agendada.\n\n## 3. Nome da tool: `cancelar_visita`\n\n**Quando usar:**\n-   Quando o cliente solicitar o **cancelamento** de uma reunião já agendada.\n\n**Quando não usar:**\n-   Se não houver reunião marcada ou se o cliente estiver apenas com dúvida.\n\n## 4. Nome da tool: `VerHorarios`\n\n**Quando usar:**\n-   Para **consultar os dias e horários disponíveis** na agenda.\n-   Deve informar de forma clara se o horário está **disponível** ou **indisponível**.\n\n**Quando não usar:**\n-   Para confirmar ou marcar diretamente o agendamento — use apenas para consulta de disponibilidade.\n\n# REGRAS GERAIS\n-   Sempre confirmar os **pré-requisitos obrigatórios** antes de agendar: **nome completo**, **WhatsApp** e **imóvel desejado**.\n-   Cada reunião deve ter **30 minutos de duração**.\n-   Os atendimentos são realizados **de segunda a sábado, das 10h às 18h**.\n-   Sempre que mencionar um horário, informe o **dia da semana**, **data (dia e mês)** e **hora**, no formato:\n    > Exemplo: “Sexta-feira, dia 22/08, às 11h”.\n\n-   **Nunca informe o ano**.\n-   Caso o cliente pergunte sobre horários disponíveis, apresente no máximo **quatro opções**.\n-   Não é necessário nenhum pagamento ou sinal para confirmar o agendamento.\n\n# DATA E HORA ATUALIZADOS\nUse estas informações como contexto de data e hora nas conversas:\n\n{{ $json.proximos_dias }}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.8,
        "position": [
          976,
          96
        ],
        "id": "3cc24e22-7085-45c3-b27f-7edd686ecdb1",
        "name": "Agendar"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "duvida"
              },
              {
                "name": "whasapp_lead"
              },
              {
                "name": "Imovel_desejado"
              },
              {
                "name": "url_chatwoot"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          48,
          96
        ],
        "id": "e9bf7cae-93aa-40a7-af4d-1306a67c1902",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "jsCode": "const days = ['domingo', 'segunda', 'terça', 'quarta', 'quinta', 'sexta', 'sábado'];\nconst now = new Date();   // <-- ESTA LINHA ESTAVA FALTANDO\nconst pad = (n) => String(n).padStart(2, '0');\n\nlet result = '';\n\nfor (let i = 1; i <= 10; i++) {\n  const future = new Date(now);\n  future.setDate(now.getDate() + i);\n\n  let label = '';\n\n  if (i === 1) {\n    label = `Amanhã é ${days[future.getDay()]} ${pad(future.getDate())}/${pad(future.getMonth() + 1)}/${String(future.getFullYear()).slice(2)}`;\n  } else if (i === 2) {\n    label = `Depois de amanhã é ${days[future.getDay()]} ${pad(future.getDate())}/${pad(future.getMonth() + 1)}/${String(future.getFullYear()).slice(2)}`;\n  } else {\n    label = `${days[future.getDay()]} será dia ${pad(future.getDate())}/${pad(future.getMonth() + 1)}/${String(future.getFullYear()).slice(2)}`;\n  }\n\n  result += `${label}\\n`;\n}\n\nreturn [\n  {\n    json: {\n      resultado: result.trim()\n    }\n  }\n];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          96
        ],
        "id": "1b129ee7-8f0a-4628-9815-da6105514ee6",
        "name": "proximos_dias"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "OcvkTYN4KJPuOH9C",
            "mode": "id",
            "cachedResultUrl": "/workflow/OcvkTYN4KJPuOH9C"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "evento": "agendamento",
              "nome_lead": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome_lead', `Coloque aqui o nome do paciente. Se tiver o nome completo, coloque tudo.`, 'string') }}",
              "inicio_agendamento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('inicio_agendamento', `Coloque aqui a data e hora do inicio da consulta.`, 'string') }}",
              "final_agendamento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('final_agendamento', `Coloque aqui a data e hora do final da consulta.`, 'string') }}",
              "whatsapp_lead": "={{ $json.whatsapp_lead }}",
              "url_chatwoot": "={{ $json.url_chatwoot }}",
              "intencao_lead": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('intencao_lead', `Aqui é a intenção do lead se é \"Alugar imóvel\" ou \"Comprar imóvel\". Deve ser uma dessas duas opções.`, 'string') }}",
              "imovel_lead": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imovel_lead', `Descreva aqui qual o imóvel o lead deseja. Coloque aqui todas as características do imóvel, sem inventar nenhuma informação.`, 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "nome_lead",
                "displayName": "nome_lead",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "inicio_agendamento",
                "displayName": "inicio_agendamento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "final_agendamento",
                "displayName": "final_agendamento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "evento",
                "displayName": "evento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "whatsapp_lead",
                "displayName": "whatsapp_lead",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "id_agendamento",
                "displayName": "id_agendamento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "url_chatwoot",
                "displayName": "url_chatwoot",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "intencao_lead",
                "displayName": "intencao_lead",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "imovel_lead",
                "displayName": "imovel_lead",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          1040,
          432
        ],
        "id": "47ee0867-5d57-47ce-b821-1a101a10d495",
        "name": "marcar_visita"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "OcvkTYN4KJPuOH9C",
            "mode": "id",
            "cachedResultUrl": "/workflow/OcvkTYN4KJPuOH9C"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "evento": "reagendamento",
              "id_agendamento": "={{ $json.id_agendamento }}",
              "whatsapp_lead": "={{ $json.whatsapp_lead }}",
              "nome_lead": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome_lead', `Coloque aqui o nome do paciente. Se tiver o nome completo, coloque tudo.`, 'string') }}",
              "inicio_agendamento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('inicio_agendamento', `Coloque aqui a data e hora do inicio da consulta.`, 'string') }}",
              "final_agendamento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('final_agendamento', `Coloque aqui a data e hora final da consulta.`, 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "nome_lead",
                "displayName": "nome_lead",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "inicio_agendamento",
                "displayName": "inicio_agendamento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "final_agendamento",
                "displayName": "final_agendamento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "evento",
                "displayName": "evento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "whatsapp_lead",
                "displayName": "whatsapp_lead",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "id_agendamento",
                "displayName": "id_agendamento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "url_chatwoot",
                "displayName": "url_chatwoot",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "intencao_lead",
                "displayName": "intencao_lead",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "imovel_lead",
                "displayName": "imovel_lead",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          1200,
          432
        ],
        "id": "425a768f-6b9a-43c1-86b0-7cc765c97434",
        "name": "reagendar_visita"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "OcvkTYN4KJPuOH9C",
            "mode": "id",
            "cachedResultUrl": "/workflow/OcvkTYN4KJPuOH9C"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "evento": "cancelamento",
              "id_agendamento": "={{ $json.id_agendamento }}",
              "whatsapp_lead": "={{ $json.whatsapp_lead }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "nome_lead",
                "displayName": "nome_lead",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "inicio_agendamento",
                "displayName": "inicio_agendamento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "final_agendamento",
                "displayName": "final_agendamento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "evento",
                "displayName": "evento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "whatsapp_lead",
                "displayName": "whatsapp_lead",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "id_agendamento",
                "displayName": "id_agendamento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "url_chatwoot",
                "displayName": "url_chatwoot",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "intencao_lead",
                "displayName": "intencao_lead",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "imovel_lead",
                "displayName": "imovel_lead",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          1488,
          432
        ],
        "id": "0d061173-8fbc-480c-8aaa-df52c2643ac5",
        "name": "cancelar_visita"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "OcvkTYN4KJPuOH9C",
            "mode": "id",
            "cachedResultUrl": "/workflow/OcvkTYN4KJPuOH9C"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "evento": "VerHorarios"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "nome_lead",
                "displayName": "nome_lead",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "inicio_agendamento",
                "displayName": "inicio_agendamento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "final_agendamento",
                "displayName": "final_agendamento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "evento",
                "displayName": "evento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "whatsapp_lead",
                "displayName": "whatsapp_lead",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "id_agendamento",
                "displayName": "id_agendamento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "url_chatwoot",
                "displayName": "url_chatwoot",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "intencao_lead",
                "displayName": "intencao_lead",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "imovel_lead",
                "displayName": "imovel_lead",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          1344,
          432
        ],
        "id": "2de993b8-7748-4fa7-b25a-3f0f1252b0ab",
        "name": "VerHorarios"
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $json.whatsapp_lead }}",
          "contextWindowLength": 40
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          656,
          416
        ],
        "id": "21c4bb12-d77a-4baf-831f-c640892a66c7",
        "name": "memoria",
        "credentials": {
          "postgres": {
            "id": "nkoxAzqCaGBsen34",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "IMOBILIARIA_ANDRE",
          "filters": {
            "conditions": [
              {
                "keyName": "Whatsapp",
                "keyValue": "={{ $json.whasapp_lead }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          256,
          96
        ],
        "id": "07c4839e-c5fa-4959-98b2-4d0d16da98b2",
        "name": "puxar_lead",
        "credentials": {
          "supabaseApi": {
            "id": "5FjTcJdDLCf35qXe",
            "name": "Supabase andre"
          }
        }
      }
    ],
    "connections": {
      "OpenAI Chat Model2": {
        "ai_languageModel": [
          [
            {
              "node": "Agendar",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "setarInfo3": {
        "main": [
          [
            {
              "node": "Agendar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Agendar": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "puxar_lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "proximos_dias": {
        "main": [
          [
            {
              "node": "setarInfo3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "marcar_visita": {
        "ai_tool": [
          [
            {
              "node": "Agendar",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "reagendar_visita": {
        "ai_tool": [
          [
            {
              "node": "Agendar",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "cancelar_visita": {
        "ai_tool": [
          [
            {
              "node": "Agendar",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "VerHorarios": {
        "ai_tool": [
          [
            {
              "node": "Agendar",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "memoria": {
        "ai_memory": [
          [
            {
              "node": "Agendar",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "puxar_lead": {
        "main": [
          [
            {
              "node": "proximos_dias",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "PABLO MEDINA",
    "name": "Version bf940eeb",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-27T19:07:37.962Z",
        "id": 9,
        "workflowId": "KTHguJQJYTdPUP4i",
        "versionId": "bf940eeb-e93a-4e34-bd0e-5ff92644e6da",
        "event": "activated",
        "userId": "595fd4e5-a243-4d30-88ac-7327a99f627e"
      }
    ]
  }
}
