docs/n8n/legados/5-marcac-ao-de-visita-imobiliaria-morada-one.json
{
  "updatedAt": "2026-03-28T12:52:19.730Z",
  "createdAt": "2026-03-27T17:23:52.206Z",
  "id": "OcvkTYN4KJPuOH9C",
  "name": "5- Marcação de visita | Imobiliaria Morada One",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86ff282a-3ede-4417-98c1-0d10858bc5dc",
              "name": "response",
              "value": "=Agendamento concluído do lead {{ $('setarInfo').item.json.NomeLead }} para o dia: {{ $('setarInfo').item.json.diaHoraConsulta }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5168555e-6361-4172-a6f7-db155e5b90bc",
      "name": "response1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3376,
        320
      ]
    },
    {
      "parameters": {
        "content": "# Agendamento",
        "height": 1484,
        "width": 3596,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "3410e28c-0a57-484c-8a27-d160c84e1d61",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "82709e80f1a797615e4b0c39d3b0903773111e8ea5a4b55f3ae01827115a16b7@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "IMOBILIARIA ANDRE"
        },
        "start": "={{ $('setarInformacoes').item.json.inicio_agendamento }}",
        "end": "={{ $('setarInformacoes').item.json.final_agendamento }}",
        "additionalFields": {
          "attendees": [],
          "description": "=Nome do cliente: {{ $('setarInformacoes').item.json.nome_lead }}\nWhatsapp: {{ $('setarInformacoes').item.json.whatsapp_lead }}\nIntenção: {{ $('setarInformacoes').item.json.intencao_lead }}\nImóvel: {{ $('setarInformacoes').item.json.imovel_lead }}",
          "summary": "={{ $('setarInformacoes').item.json.nome_lead }} | Secretaria IA"
        }
      },
      "id": "0a1494b3-e0c1-4dd3-a0c7-243f8fd052d8",
      "name": "Marca",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        1760,
        320
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "pS68tKlfKjOQMC3e",
          "name": "Google Calendar andre"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "82709e80f1a797615e4b0c39d3b0903773111e8ea5a4b55f3ae01827115a16b7@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "IMOBILIARIA ANDRE"
        },
        "returnAll": true,
        "options": {
          "timeMin": "={{ $json.inicio_agendamento }}",
          "timeMax": "={{ $json.final_agendamento }}"
        }
      },
      "id": "bf01a321-b1b5-4186-a77e-7ef5c1bb0830",
      "name": "Já tem um evento",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        816,
        304
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "pS68tKlfKjOQMC3e",
          "name": "Google Calendar andre"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "82709e80f1a797615e4b0c39d3b0903773111e8ea5a4b55f3ae01827115a16b7@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "IMOBILIARIA ANDRE"
        },
        "eventId": "={{ $('setarInformacoes').item.json.id_agendamento }}",
        "options": {}
      },
      "id": "d5c4965c-4608-45b1-a590-c751d205e860",
      "name": "Google Calendar1",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        816,
        640
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "pS68tKlfKjOQMC3e",
          "name": "Google Calendar andre"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "82709e80f1a797615e4b0c39d3b0903773111e8ea5a4b55f3ae01827115a16b7@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "IMOBILIARIA ANDRE"
        },
        "eventId": "={{ $item(\"0\").$node[\"Verifica evento1\"].json[\"id\"] }}",
        "useDefaultReminders": false,
        "updateFields": {
          "end": "={{ $('setarInformacoes').item.json.final_agendamento }}",
          "sendUpdates": "all",
          "start": "={{ $('setarInformacoes').item.json.inicio_agendamento }}"
        }
      },
      "id": "6366a5c8-55cb-4ab8-b4b1-d3180acebf4c",
      "name": "Google Calendar3",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        1536,
        880
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "pS68tKlfKjOQMC3e",
          "name": "Google Calendar andre"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "82709e80f1a797615e4b0c39d3b0903773111e8ea5a4b55f3ae01827115a16b7@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "IMOBILIARIA ANDRE"
        },
        "returnAll": true,
        "options": {
          "query": "={{ $('setarInformacoes').item.json.id_agendamento }}"
        }
      },
      "id": "d4cdbb38-8bae-4a56-923c-b682815b06ab",
      "name": "Verifica evento1",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        1328,
        880
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "pS68tKlfKjOQMC3e",
          "name": "Google Calendar andre"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "be5649a9-7624-4621-bd2d-84c25577c0ce",
              "leftValue": "={{ $json.available }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0ce99ac9-46b8-4830-8adf-75de63a6a584",
      "name": "If6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        880
      ]
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "82709e80f1a797615e4b0c39d3b0903773111e8ea5a4b55f3ae01827115a16b7@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "IMOBILIARIA ANDRE"
        },
        "timeMin": "={{ $('setarInformacoes').item.json.inicio_agendamento }}",
        "timeMax": "={{ $('setarInformacoes').item.json.final_agendamento }}",
        "options": {}
      },
      "id": "747f846d-179c-4991-8923-4d09de820e05",
      "name": "Disponibilidade1",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        800,
        880
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "pS68tKlfKjOQMC3e",
          "name": "Google Calendar andre"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86ff282a-3ede-4417-98c1-0d10858bc5dc",
              "name": "response",
              "value": "=horário não disponível, peça outro horário",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "38232e96-55df-4a88-9fdc-20a0afc6bb25",
      "name": "Edit Fields6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1456,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d192ed0-aebd-404e-8339-daab0d29651f",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8f7029bc-30e2-4e6b-9f15-ce19d261e424",
      "name": "If5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1232,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7f842ffa-cd8f-40ab-a0a7-40dc173357a7",
              "name": "response",
              "value": "Informe o usuário que o agendamento foi cancelado e que estará sempre à disposição para um novo agendamento.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c601432a-9b32-4327-bfd1-75b058c94e7e",
      "name": "Edit Fields7",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        640
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04c6ca35-7572-4699-bcb7-bbf2f2a6e6a4",
              "name": "response",
              "value": "horário não disponível, peça outro horário",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5eb38587-880e-4c5f-9b97-d9ce80491a9a",
      "name": "Edit Fields9",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        640
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.evento }}",
                    "rightValue": "agendamento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f5b06620-94a8-41c3-b06c-64a1c9306317"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agendamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7a57e8e8-5227-4cde-8d58-7b447cd55a17",
                    "leftValue": "={{ $json.evento }}",
                    "rightValue": "cancelamento",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d788021f-29ab-41f2-b355-2b18963d30f2",
                    "leftValue": "={{ $json.evento }}",
                    "rightValue": "reagendamento",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reagendamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9fe78f3c-e37e-4408-b520-19e0f14e8824",
                    "leftValue": "={{ $json.evento }}",
                    "rightValue": "VerHorarios",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ver Horarios"
            }
          ]
        },
        "options": {}
      },
      "id": "ca38dfdb-97f0-441d-9279-d4c2e0040179",
      "name": "Switch4",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        512,
        624
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2e903be-9994-4f84-8cfe-67f7488d9212",
              "name": "nome_lead",
              "value": "={{ $json.nome_lead }}",
              "type": "string"
            },
            {
              "id": "d3ce097c-0041-42dc-b142-fe9b682a2859",
              "name": "inicio_agendamento",
              "value": "={{ $json.inicio_agendamento }}",
              "type": "string"
            },
            {
              "id": "22f0c80f-d2cc-4412-bb7e-92cf407dd83c",
              "name": "final_agendamento",
              "value": "={{ $json.final_agendamento }}",
              "type": "string"
            },
            {
              "id": "76496e26-599f-4869-a69c-44e27cdbb9bf",
              "name": "evento",
              "value": "={{ $json.evento }}",
              "type": "string"
            },
            {
              "id": "1be27263-5e0d-44d1-b7e0-0c0344cfdbf1",
              "name": "whatsapp_lead",
              "value": "={{ $json.whatsapp_lead }}",
              "type": "string"
            },
            {
              "id": "6044c148-9967-49e4-a9fa-eebeebe71963",
              "name": "id_agendamento",
              "value": "={{ $json.id_agendamento }}",
              "type": "string"
            },
            {
              "id": "13f024ae-58b7-4523-89ef-4310df2e5e6a",
              "name": "identificador_lead",
              "value": "={{ $json.whatsapp_lead }}",
              "type": "string"
            },
            {
              "id": "7572b062-21b6-4221-90b5-73102fecfe5c",
              "name": "fora_horario_comercial",
              "value": "={{\n  (() => {\n    const dt = DateTime.now().setZone('America/Sao_Paulo');\n    const hora = dt.hour;        // 0-23\n    const dia = dt.weekday;      // 1=Seg ... 7=Dom\n\n    const fimDeSemana = dia === 6 || dia === 7;  // Sáb ou Dom\n    const foraHorario = hora < 8 || hora >= 19;  // fora de 08:00-18:59\n\n    return fimDeSemana || foraHorario;           // boolean\n  })()\n}}",
              "type": "string"
            },
            {
              "id": "97b4edf7-bc6b-4be9-8311-c6b62503b12a",
              "name": "url_chatwoot",
              "value": "={{ $json.url_chatwoot }}",
              "type": "string"
            },
            {
              "id": "8ce716ca-865f-4849-a466-4d024fb9ecf0",
              "name": "intencao_lead",
              "value": "={{ $json.intencao_lead }}",
              "type": "string"
            },
            {
              "id": "370330a1-6814-4eca-920c-eb6582aa1561",
              "name": "imovel_lead",
              "value": "={{ $json.imovel_lead }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        656
      ],
      "id": "51928512-3f32-45cb-ae7f-7cfd67969154",
      "name": "setarInformacoes"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7f842ffa-cd8f-40ab-a0a7-40dc173357a7",
              "name": "response",
              "value": "=sua reunião foi reagendada para a data:{{(() => { \n    const data = new Date($json.start.dateTime);\n    const opcoes = { day: '2-digit', month: 'long', hour: '2-digit', minute: '2-digit' };\n    return `dia ${data.toLocaleDateString('pt-BR', opcoes).replace(' ', ' de ').replace(',', ' às')}`;\n})()}} o link da reunião é: {{ $json.hangoutLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d0efd493-8d19-4899-a513-013564c55f8d",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1952,
        880
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"timezone\": \"America/Sao_Paulo\",\n  \"timeBetweenMeetingsMinutes\": 30,\n  \"schedule\": [\n    {\n      \"day\": \"SEG\",\n      \"available\": true,\n      \"hours\": { \"after\": \"08:00\", \"before\": \"18:00\" }\n    },\n    {\n      \"day\": \"TER\",\n      \"available\": true,\n      \"hours\": { \"after\": \"08:00\", \"before\": \"18:00\" }\n    },\n    {\n      \"day\": \"QUA\",\n      \"available\": true,\n      \"hours\": { \"after\": \"08:00\", \"before\": \"18:00\" }\n    },\n    {\n      \"day\": \"QUI\",\n      \"available\": true,\n      \"hours\": { \"after\": \"08:00\", \"before\": \"18:00\" }\n    },\n    {\n      \"day\": \"SEX\",\n      \"available\": true,\n      \"hours\": { \"after\": \"09:00\", \"before\": \"18:00\" }\n    },\n    {\n      \"day\": \"SAB\",\n      \"available\": false,\n      \"hours\": { \"after\": \"09:00\", \"before\": \"14:00\" }\n    },\n    {\n      \"day\": \"DOM\",\n      \"available\": false,\n      \"hours\": { \"after\": \"\", \"before\": \"\" }\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        1232
      ],
      "id": "8595f196-b95d-4e8e-ad84-89c038fdaef6",
      "name": "definir agenda"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "82709e80f1a797615e4b0c39d3b0903773111e8ea5a4b55f3ae01827115a16b7@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "IMOBILIARIA ANDRE"
        },
        "returnAll": true,
        "timeMax": "={{ $now.plus({ week: 5 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1024,
        1232
      ],
      "id": "c6806042-8756-4982-9c9d-f7c4dcd171ff",
      "name": "buscar eventos já reistrados",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "pS68tKlfKjOQMC3e",
          "name": "Google Calendar andre"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1232,
        1232
      ],
      "id": "6969f502-ec86-4dd6-bb28-44c99a7c89aa",
      "name": "juntar eventos"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a366af35-ca99-40ab-bd55-e9304e117f80",
              "name": "data",
              "value": "={{\n\n(() => {\n  const eventosAgendados = $json.data;\n  const disponibilidadeSemanal = $('definir agenda').first().json;\n\n  const timezone = disponibilidadeSemanal.timezone || \"America/Sao_Paulo\";\n  const intervaloSemanas = 12;\n  const intervaloMinutos =\n    Number(disponibilidadeSemanal.timeBetweenMeetingsMinutes) || 30;\n\n  const dayMap = {\n    0: \"DOM\",\n    1: \"SEG\",\n    2: \"TER\",\n    3: \"QUA\",\n    4: \"QUI\",\n    5: \"SEX\",\n    6: \"SAB\"\n  };\n\n  function getDateWithTime(date, timeStr) {\n    if (!timeStr) return null;\n    const [hour, minute] = timeStr.split(\":\").map(Number);\n    const d = new Date(date);\n    d.setHours(hour, minute, 0, 0);\n    return d;\n  }\n\n  function formatTime(date) {\n    return date.toLocaleTimeString(\"pt-BR\", {\n      hour: \"2-digit\",\n      minute: \"2-digit\",\n      timeZone: timezone\n    });\n  }\n\n  function formatDate(date) {\n    return date.toLocaleDateString(\"en-CA\", {\n      timeZone: timezone\n    }); // YYYY-MM-DD correto\n  }\n\n  function saoMesmoDia(a, b) {\n    return (\n      a.getFullYear() === b.getFullYear() &&\n      a.getMonth() === b.getMonth() &&\n      a.getDate() === b.getDate()\n    );\n  }\n\n  function gerarHorariosDisponiveis() {\n    const horariosDisponiveis = [];\n\n    const agora = new Date(\n      new Date().toLocaleString(\"en-US\", { timeZone: timezone })\n    );\n\n    const hoje = new Date(agora);\n    hoje.setHours(0, 0, 0, 0);\n\n    const eventosValidos = Array.isArray(eventosAgendados)\n      ? eventosAgendados.filter(e => e?.start?.dateTime && e?.end?.dateTime)\n      : [];\n\n    for (let i = 0; i < intervaloSemanas * 7; i++) {\n      const dataAtual = new Date(hoje);\n      dataAtual.setDate(hoje.getDate() + i);\n\n      const diaSemana = dayMap[dataAtual.getDay()];\n      const configDia = disponibilidadeSemanal.schedule.find(\n        d => d.day === diaSemana\n      );\n\n      if (!configDia || !configDia.available) continue;\n\n      let inicioJanela = getDateWithTime(dataAtual, configDia.hours.after);\n      const fimJanela = getDateWithTime(dataAtual, configDia.hours.before);\n      if (!inicioJanela || !fimJanela) continue;\n\n      // Se for hoje, começa do horário atual\n      if (i === 0 && inicioJanela < agora) {\n        inicioJanela = new Date(agora);\n        inicioJanela.setMinutes(\n          Math.ceil(inicioJanela.getMinutes() / intervaloMinutos) *\n            intervaloMinutos,\n          0,\n          0\n        );\n      }\n\n      const eventosDoDia = eventosValidos.filter(evento => {\n        const inicioEvento = new Date(evento.start.dateTime);\n        const fimEvento = new Date(evento.end.dateTime);\n        return (\n          saoMesmoDia(inicioEvento, dataAtual) &&\n          fimEvento > inicioJanela &&\n          inicioEvento < fimJanela\n        );\n      });\n\n      for (\n        let slotInicio = new Date(inicioJanela);\n        slotInicio < fimJanela;\n        slotInicio = new Date(slotInicio.getTime() + intervaloMinutos * 60000)\n      ) {\n        const slotFim = new Date(\n          slotInicio.getTime() + intervaloMinutos * 60000\n        );\n        if (slotFim > fimJanela) break;\n\n        const conflita = eventosDoDia.some(evento => {\n          const inicioEvento = new Date(evento.start.dateTime);\n          const fimEvento = new Date(evento.end.dateTime);\n          return slotInicio < fimEvento && slotFim > inicioEvento;\n        });\n\n        if (!conflita) {\n          horariosDisponiveis.push({\n            data: formatDate(slotInicio), // 🔥 SEM UTC\n            start: formatTime(slotInicio),\n            end: formatTime(slotFim)\n          });\n        }\n      }\n    }\n\n    return horariosDisponiveis;\n  }\n\n  try {\n    return JSON.stringify(gerarHorariosDisponiveis());\n  } catch (err) {\n    return JSON.stringify({\n      error: err.message,\n      stack: err.stack\n    });\n  }\n\n})()\n\n}}\n",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1504,
        1232
      ],
      "id": "0597c80a-1d28-4a1e-8a04-1bff70f44864",
      "name": "definir disponibilidade"
    },
    {
      "parameters": {
        "content": "# Buscar Eventos já registrados",
        "height": 360,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        1072
      ],
      "typeVersion": 1,
      "id": "14fa8df0-0825-4fcf-9e1c-031afb4789b0",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Verifica os horarios disponíveis",
        "height": 360,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1408,
        1072
      ],
      "typeVersion": 1,
      "id": "76866dcb-2eac-459c-87ad-9cca383c017d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Seleciona dias/horários e retorna tudo em uma string formatada",
        "height": 360,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1792,
        1072
      ],
      "typeVersion": 1,
      "id": "3cccd4b2-688e-4578-946a-1f79db171aa2",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae0721c6-ba73-46a9-aefd-a131a3051254",
              "name": "response",
              "value": "={{ $json.disponibilidade }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2208,
        1232
      ],
      "id": "bf960ad5-8865-49cf-b59a-b30fd9efe524",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "// Entrada: items[0].json.data = [{ data: \"YYYY-MM-DD\", start: \"HH:MM\" }, ...]\nconst inputData = items[0].json.data;\n\n// 1) Agrupar horários por dia\nconst agrupadoPorDia = {};\nfor (const slot of inputData) {\n  if (!agrupadoPorDia[slot.data]) {\n    agrupadoPorDia[slot.data] = [];\n  }\n  agrupadoPorDia[slot.data].push(slot.start);\n}\n\n// 2) Ordenar dias (YYYY-MM-DD já ordena corretamente como string)\nconst diasOrdenados = Object.keys(agrupadoPorDia).sort();\n\n// 3) Selecionar até 15 dias\nconst selecionados = [];\n\n// Função auxiliar para parse de HH:MM\nconst parseHM = (h) => {\n  const [hh, mm] = h.split(\":\").map(n => parseInt(n, 10));\n  return { hh, mm };\n};\n\nfor (const dia of diasOrdenados.slice(0, 15)) {\n  // Ordena todos os horários do dia\n  const horariosOrdenados = agrupadoPorDia[dia].sort();\n\n  // Manhã: até 12:00\n  const manha = horariosOrdenados.filter(h => {\n    const { hh, mm } = parseHM(h);\n    return hh < 12 || (hh === 12 && mm === 0);\n  });\n\n  // Tarde: a partir das 13:00 (até 10 horários)\n  const tarde = horariosOrdenados\n    .filter(h => {\n      const { hh } = parseHM(h);\n      return hh >= 13;\n    })\n    .slice(0, 10);\n\n  // Formata dd/mm às HH:MM\n  const escolhidosFormatados = [...manha, ...tarde].map(h => {\n    const [year, month, day] = dia.split(\"-\");\n    return `${day}/${month} às ${h}`;\n  });\n\n  selecionados.push(...escolhidosFormatados);\n}\n\n// 4) Juntar tudo em uma única string\nconst resultado = selecionados.join(\", \");\n\n// 5) Retorno no formato do n8n\nreturn [\n  {\n    json: {\n      disponibilidade: resultado\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        1232
      ],
      "id": "991d364f-d939-49ec-b78e-f2b0e2cf83a0",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "446ebc90-06ae-4258-a224-c5ab53b5913d",
              "name": "NomeLead",
              "value": "={{ $('setarInformacoes').item.json.nome_lead }}",
              "type": "string"
            },
            {
              "id": "d527479e-9c5f-43f8-89b8-d9ba46da1f05",
              "name": "Procedimento",
              "value": "={{ $('setarInformacoes').item.json.procedimento }}",
              "type": "string"
            },
            {
              "id": "3cee3dfc-8157-4934-8b6a-656954cddcf4",
              "name": "whatsapp_lead",
              "value": "={{ $('setarInformacoes').item.json.whatsapp_lead }}",
              "type": "string"
            },
            {
              "id": "46b6b089-568c-4915-83fc-a18c8e581d96",
              "name": "diaHoraConsulta",
              "value": "={{ $json.start.dateTime }}",
              "type": "string"
            },
            {
              "id": "2db684d5-feea-4edc-a6a1-d425c3b5e2f2",
              "name": "identficadorLead",
              "value": "={{ $('setarInformacoes').item.json.identificador_lead }}",
              "type": "string"
            },
            {
              "id": "245cbb23-ecc5-4dde-a770-d5d0ab317c8d",
              "name": "id_agendamento",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "53e521d7-57a8-40e6-ad95-59bdfccf2e0b",
              "name": "dataHoraGrupo",
              "value": "={{\n  DateTime\n    .fromISO($json.start.dateTime)\n    .setZone('America/Sao_Paulo')\n    .toFormat(\"dd/MM 'às' HH'hrs'\")\n}}",
              "type": "string"
            },
            {
              "id": "50e769d5-cfb7-4cff-a17c-b94fe6f746d0",
              "name": "agendamento_fora_horario_comercial",
              "value": "={{ $('setarInformacoes').item.json.fora_horario_comercial }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2048,
        320
      ],
      "id": "611f2f65-0667-4898-930b-2285df7ed1f4",
      "name": "setarInfo"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "nome_lead"
            },
            {
              "name": "inicio_agendamento"
            },
            {
              "name": "final_agendamento"
            },
            {
              "name": "evento"
            },
            {
              "name": "whatsapp_lead"
            },
            {
              "name": "id_agendamento"
            },
            {
              "name": "url_chatwoot"
            },
            {
              "name": "intencao_lead"
            },
            {
              "name": "imovel_lead"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        80,
        656
      ],
      "id": "7463a28c-305f-4fe6-9e90-721e1f8a76ee",
      "name": "exec workflow"
    },
    {
      "parameters": {
        "content": "# Etiquetar a conversa como \"visita_marcada\"",
        "height": 336,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2784,
        160
      ],
      "typeVersion": 1,
      "id": "6497a473-d1c9-4c0a-9773-cce951a546b3",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "IMOBILIARIA_ANDRE",
        "filters": {
          "conditions": [
            {
              "keyName": "Whatsapp",
              "condition": "eq",
              "keyValue": "={{ $('setarInformacoes').item.json.whatsapp_lead }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Data da visita",
              "fieldValue": "={{ $('setarInfo').item.json.diaHoraConsulta }}"
            },
            {
              "fieldId": "id_agendamento",
              "fieldValue": "={{ $('setarInfo').item.json.id_agendamento }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2496,
        320
      ],
      "id": "37f96287-fd2c-45ee-a057-234e214a33a2",
      "name": "marcarData",
      "credentials": {
        "supabaseApi": {
          "id": "5FjTcJdDLCf35qXe",
          "name": "Supabase andre"
        }
      }
    },
    {
      "parameters": {
        "content": "# Marcar data da consulta no banco de dados\n",
        "height": 336,
        "width": 416,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2320,
        160
      ],
      "typeVersion": 1,
      "id": "1a62297a-3a24-4b8d-9bda-16e7c9470776",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "IMOBILIARIA_ANDRE",
        "filters": {
          "conditions": [
            {
              "keyName": "Whatsapp",
              "condition": "eq",
              "keyValue": "={{ $('setarInformacoes').item.json.whatsapp_lead }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Data da visita",
              "fieldValue": "={{ null }}"
            },
            {
              "fieldId": "id_agendamento"
            },
            {
              "fieldId": "Marcou no Grupo"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1040,
        640
      ],
      "id": "c19c63f6-a2d4-4415-8882-0cdbfc7caac5",
      "name": "tirarData",
      "credentials": {
        "supabaseApi": {
          "id": "5FjTcJdDLCf35qXe",
          "name": "Supabase andre"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "IMOBILIARIA_ANDRE",
        "filters": {
          "conditions": [
            {
              "keyName": "Whatsapp",
              "condition": "eq",
              "keyValue": "={{ $('setarInformacoes').item.json.whatsapp_lead }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Data da visita",
              "fieldValue": "={{ $json.start.dateTime }}"
            },
            {
              "fieldId": "id_agendamento",
              "fieldValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1760,
        880
      ],
      "id": "c902603e-cad3-4325-ba1c-546adc6019fb",
      "name": "atualizarData",
      "credentials": {
        "supabaseApi": {
          "id": "5FjTcJdDLCf35qXe",
          "name": "Supabase andre"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('setarInformacoes').item.json.url_chatwoot }}api/v1/accounts/{{ $json['IDConta ChatWoot'] }}/conversations/{{ $json['IDConversa ChatWoot'] }}/labels",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"labels\": [\n    \"visita_marcada\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2960,
        320
      ],
      "id": "dcee6204-024f-4b3e-ac9a-fbdff14ff2fc",
      "name": "etiqueta_avaliacao_agendada",
      "credentials": {
        "httpHeaderAuth": {
          "id": "22mO2MwTUWim0Et4",
          "name": "chatwoot Andre"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pzulhevnpwixswhqsqks.supabase.co/functions/v1/api-v1/v1/imoveis",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {},
            {},
            {
              "name": "limit",
              "value": "5"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 13188d5f-b50f-4cc7-8c76-edda620cba4e-1c4b296e-2a6f-4417-b8ba-b0d6be044d13"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "value": "casa no morumbi"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        256
      ],
      "id": "1fbb126c-5b65-4f4a-8034-1f45b1d71225",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "Marca": {
      "main": [
        [
          {
            "node": "setarInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Já tem um evento": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar1": {
      "main": [
        [
          {
            "node": "tirarData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar3": {
      "main": [
        [
          {
            "node": "atualizarData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica evento1": {
      "main": [
        [
          {
            "node": "Google Calendar3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Verifica evento1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disponibilidade1": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Marca",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "Já tem um evento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Calendar1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Disponibilidade1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "definir agenda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setarInformacoes": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "definir agenda": {
      "main": [
        [
          {
            "node": "buscar eventos já reistrados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar eventos já reistrados": {
      "main": [
        [
          {
            "node": "juntar eventos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "juntar eventos": {
      "main": [
        [
          {
            "node": "definir disponibilidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "definir disponibilidade": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setarInfo": {
      "main": [
        [
          {
            "node": "marcarData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "exec workflow": {
      "main": [
        [
          {
            "node": "setarInformacoes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "marcarData": {
      "main": [
        [
          {
            "node": "etiqueta_avaliacao_agendada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tirarData": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualizarData": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "etiqueta_avaliacao_agendada": {
      "main": [
        [
          {
            "node": "response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "038c5562-325b-4df5-97da-1cbb19b86ff5",
  "activeVersionId": "032a3e7e-0dd2-43b9-848b-66ae78daa268",
  "versionCounter": 48,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-27T17:23:52.211Z",
      "createdAt": "2026-03-27T17:23:52.211Z",
      "role": "workflow:owner",
      "workflowId": "OcvkTYN4KJPuOH9C",
      "projectId": "AKiCCH0oxaoQhr2Z",
      "project": {
        "updatedAt": "2026-03-27T14:30:55.615Z",
        "createdAt": "2026-03-27T14:27:20.854Z",
        "id": "AKiCCH0oxaoQhr2Z",
        "name": "PABLO MEDINA <digitalvisualis@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "595fd4e5-a243-4d30-88ac-7327a99f627e"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-27T19:14:12.000Z",
    "createdAt": "2026-03-27T19:13:24.722Z",
    "versionId": "032a3e7e-0dd2-43b9-848b-66ae78daa268",
    "workflowId": "OcvkTYN4KJPuOH9C",
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "86ff282a-3ede-4417-98c1-0d10858bc5dc",
                "name": "response",
                "value": "=Agendamento concluído do lead {{ $('setarInfo').item.json.NomeLead }} para o dia: {{ $('setarInfo').item.json.diaHoraConsulta }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "5168555e-6361-4172-a6f7-db155e5b90bc",
        "name": "response1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3376,
          320
        ]
      },
      {
        "parameters": {
          "content": "# Agendamento",
          "height": 1484,
          "width": 3596,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          0
        ],
        "typeVersion": 1,
        "id": "3410e28c-0a57-484c-8a27-d160c84e1d61",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "calendar": {
            "__rl": true,
            "value": "82709e80f1a797615e4b0c39d3b0903773111e8ea5a4b55f3ae01827115a16b7@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "IMOBILIARIA ANDRE"
          },
          "start": "={{ $('setarInformacoes').item.json.inicio_agendamento }}",
          "end": "={{ $('setarInformacoes').item.json.final_agendamento }}",
          "additionalFields": {
            "attendees": [],
            "description": "=Nome do cliente: {{ $('setarInformacoes').item.json.nome_lead }}\nWhatsapp: {{ $('setarInformacoes').item.json.whatsapp_lead }}\nIntenção: {{ $('setarInformacoes').item.json.intencao_lead }}\nImóvel: {{ $('setarInformacoes').item.json.imovel_lead }}",
            "summary": "={{ $('setarInformacoes').item.json.nome_lead }} | Secretaria IA"
          }
        },
        "id": "0a1494b3-e0c1-4dd3-a0c7-243f8fd052d8",
        "name": "Marca",
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.1,
        "position": [
          1760,
          320
        ],
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "pS68tKlfKjOQMC3e",
            "name": "Google Calendar andre"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "82709e80f1a797615e4b0c39d3b0903773111e8ea5a4b55f3ae01827115a16b7@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "IMOBILIARIA ANDRE"
          },
          "returnAll": true,
          "options": {
            "timeMin": "={{ $json.inicio_agendamento }}",
            "timeMax": "={{ $json.final_agendamento }}"
          }
        },
        "id": "bf01a321-b1b5-4186-a77e-7ef5c1bb0830",
        "name": "Já tem um evento",
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.1,
        "position": [
          816,
          304
        ],
        "alwaysOutputData": true,
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "pS68tKlfKjOQMC3e",
            "name": "Google Calendar andre"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "calendar": {
            "__rl": true,
            "value": "82709e80f1a797615e4b0c39d3b0903773111e8ea5a4b55f3ae01827115a16b7@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "IMOBILIARIA ANDRE"
          },
          "eventId": "={{ $('setarInformacoes').item.json.id_agendamento }}",
          "options": {}
        },
        "id": "d5c4965c-4608-45b1-a590-c751d205e860",
        "name": "Google Calendar1",
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.1,
        "position": [
          816,
          640
        ],
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "pS68tKlfKjOQMC3e",
            "name": "Google Calendar andre"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "calendar": {
            "__rl": true,
            "value": "82709e80f1a797615e4b0c39d3b0903773111e8ea5a4b55f3ae01827115a16b7@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "IMOBILIARIA ANDRE"
          },
          "eventId": "={{ $item(\"0\").$node[\"Verifica evento1\"].json[\"id\"] }}",
          "useDefaultReminders": false,
          "updateFields": {
            "end": "={{ $('setarInformacoes').item.json.final_agendamento }}",
            "sendUpdates": "all",
            "start": "={{ $('setarInformacoes').item.json.inicio_agendamento }}"
          }
        },
        "id": "6366a5c8-55cb-4ab8-b4b1-d3180acebf4c",
        "name": "Google Calendar3",
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.1,
        "position": [
          1536,
          880
        ],
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "pS68tKlfKjOQMC3e",
            "name": "Google Calendar andre"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "82709e80f1a797615e4b0c39d3b0903773111e8ea5a4b55f3ae01827115a16b7@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "IMOBILIARIA ANDRE"
          },
          "returnAll": true,
          "options": {
            "query": "={{ $('setarInformacoes').item.json.id_agendamento }}"
          }
        },
        "id": "d4cdbb38-8bae-4a56-923c-b682815b06ab",
        "name": "Verifica evento1",
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.1,
        "position": [
          1328,
          880
        ],
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "pS68tKlfKjOQMC3e",
            "name": "Google Calendar andre"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "be5649a9-7624-4621-bd2d-84c25577c0ce",
                "leftValue": "={{ $json.available }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "0ce99ac9-46b8-4830-8adf-75de63a6a584",
        "name": "If6",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1008,
          880
        ]
      },
      {
        "parameters": {
          "resource": "calendar",
          "calendar": {
            "__rl": true,
            "value": "82709e80f1a797615e4b0c39d3b0903773111e8ea5a4b55f3ae01827115a16b7@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "IMOBILIARIA ANDRE"
          },
          "timeMin": "={{ $('setarInformacoes').item.json.inicio_agendamento }}",
          "timeMax": "={{ $('setarInformacoes').item.json.final_agendamento }}",
          "options": {}
        },
        "id": "747f846d-179c-4991-8923-4d09de820e05",
        "name": "Disponibilidade1",
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.1,
        "position": [
          800,
          880
        ],
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "pS68tKlfKjOQMC3e",
            "name": "Google Calendar andre"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "86ff282a-3ede-4417-98c1-0d10858bc5dc",
                "name": "response",
                "value": "=horário não disponível, peça outro horário",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "38232e96-55df-4a88-9fdc-20a0afc6bb25",
        "name": "Edit Fields6",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1456,
          112
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "8d192ed0-aebd-404e-8339-daab0d29651f",
                "leftValue": "={{ $json.id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "8f7029bc-30e2-4e6b-9f15-ce19d261e424",
        "name": "If5",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1232,
          304
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7f842ffa-cd8f-40ab-a0a7-40dc173357a7",
                "name": "response",
                "value": "Informe o usuário que o agendamento foi cancelado e que estará sempre à disposição para um novo agendamento.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "c601432a-9b32-4327-bfd1-75b058c94e7e",
        "name": "Edit Fields7",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1264,
          640
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "04c6ca35-7572-4699-bcb7-bbf2f2a6e6a4",
                "name": "response",
                "value": "horário não disponível, peça outro horário",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "5eb38587-880e-4c5f-9b97-d9ce80491a9a",
        "name": "Edit Fields9",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1760,
          640
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.evento }}",
                      "rightValue": "agendamento",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "f5b06620-94a8-41c3-b06c-64a1c9306317"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "agendamento"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "7a57e8e8-5227-4cde-8d58-7b447cd55a17",
                      "leftValue": "={{ $json.evento }}",
                      "rightValue": "cancelamento",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "cancelamento"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "d788021f-29ab-41f2-b355-2b18963d30f2",
                      "leftValue": "={{ $json.evento }}",
                      "rightValue": "reagendamento",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "reagendamento"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "9fe78f3c-e37e-4408-b520-19e0f14e8824",
                      "leftValue": "={{ $json.evento }}",
                      "rightValue": "VerHorarios",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Ver Horarios"
              }
            ]
          },
          "options": {}
        },
        "id": "ca38dfdb-97f0-441d-9279-d4c2e0040179",
        "name": "Switch4",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          512,
          624
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f2e903be-9994-4f84-8cfe-67f7488d9212",
                "name": "nome_lead",
                "value": "={{ $json.nome_lead }}",
                "type": "string"
              },
              {
                "id": "d3ce097c-0041-42dc-b142-fe9b682a2859",
                "name": "inicio_agendamento",
                "value": "={{ $json.inicio_agendamento }}",
                "type": "string"
              },
              {
                "id": "22f0c80f-d2cc-4412-bb7e-92cf407dd83c",
                "name": "final_agendamento",
                "value": "={{ $json.final_agendamento }}",
                "type": "string"
              },
              {
                "id": "76496e26-599f-4869-a69c-44e27cdbb9bf",
                "name": "evento",
                "value": "={{ $json.evento }}",
                "type": "string"
              },
              {
                "id": "1be27263-5e0d-44d1-b7e0-0c0344cfdbf1",
                "name": "whatsapp_lead",
                "value": "={{ $json.whatsapp_lead }}",
                "type": "string"
              },
              {
                "id": "6044c148-9967-49e4-a9fa-eebeebe71963",
                "name": "id_agendamento",
                "value": "={{ $json.id_agendamento }}",
                "type": "string"
              },
              {
                "id": "13f024ae-58b7-4523-89ef-4310df2e5e6a",
                "name": "identificador_lead",
                "value": "={{ $json.whatsapp_lead }}",
                "type": "string"
              },
              {
                "id": "7572b062-21b6-4221-90b5-73102fecfe5c",
                "name": "fora_horario_comercial",
                "value": "={{\n  (() => {\n    const dt = DateTime.now().setZone('America/Sao_Paulo');\n    const hora = dt.hour;        // 0-23\n    const dia = dt.weekday;      // 1=Seg ... 7=Dom\n\n    const fimDeSemana = dia === 6 || dia === 7;  // Sáb ou Dom\n    const foraHorario = hora < 8 || hora >= 19;  // fora de 08:00-18:59\n\n    return fimDeSemana || foraHorario;           // boolean\n  })()\n}}",
                "type": "string"
              },
              {
                "id": "97b4edf7-bc6b-4be9-8311-c6b62503b12a",
                "name": "url_chatwoot",
                "value": "={{ $json.url_chatwoot }}",
                "type": "string"
              },
              {
                "id": "8ce716ca-865f-4849-a466-4d024fb9ecf0",
                "name": "intencao_lead",
                "value": "={{ $json.intencao_lead }}",
                "type": "string"
              },
              {
                "id": "370330a1-6814-4eca-920c-eb6582aa1561",
                "name": "imovel_lead",
                "value": "={{ $json.imovel_lead }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          272,
          656
        ],
        "id": "51928512-3f32-45cb-ae7f-7cfd67969154",
        "name": "setarInformacoes"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7f842ffa-cd8f-40ab-a0a7-40dc173357a7",
                "name": "response",
                "value": "=sua reunião foi reagendada para a data:{{(() => { \n    const data = new Date($json.start.dateTime);\n    const opcoes = { day: '2-digit', month: 'long', hour: '2-digit', minute: '2-digit' };\n    return `dia ${data.toLocaleDateString('pt-BR', opcoes).replace(' ', ' de ').replace(',', ' às')}`;\n})()}} o link da reunião é: {{ $json.hangoutLink }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "d0efd493-8d19-4899-a513-013564c55f8d",
        "name": "Edit Fields2",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1952,
          880
        ]
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "{\n  \"timezone\": \"America/Sao_Paulo\",\n  \"timeBetweenMeetingsMinutes\": 30,\n  \"schedule\": [\n    {\n      \"day\": \"SEG\",\n      \"available\": true,\n      \"hours\": { \"after\": \"08:00\", \"before\": \"18:00\" }\n    },\n    {\n      \"day\": \"TER\",\n      \"available\": true,\n      \"hours\": { \"after\": \"08:00\", \"before\": \"18:00\" }\n    },\n    {\n      \"day\": \"QUA\",\n      \"available\": true,\n      \"hours\": { \"after\": \"08:00\", \"before\": \"18:00\" }\n    },\n    {\n      \"day\": \"QUI\",\n      \"available\": true,\n      \"hours\": { \"after\": \"08:00\", \"before\": \"18:00\" }\n    },\n    {\n      \"day\": \"SEX\",\n      \"available\": true,\n      \"hours\": { \"after\": \"09:00\", \"before\": \"18:00\" }\n    },\n    {\n      \"day\": \"SAB\",\n      \"available\": false,\n      \"hours\": { \"after\": \"09:00\", \"before\": \"14:00\" }\n    },\n    {\n      \"day\": \"DOM\",\n      \"available\": false,\n      \"hours\": { \"after\": \"\", \"before\": \"\" }\n    }\n  ]\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          784,
          1232
        ],
        "id": "8595f196-b95d-4e8e-ad84-89c038fdaef6",
        "name": "definir agenda"
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "82709e80f1a797615e4b0c39d3b0903773111e8ea5a4b55f3ae01827115a16b7@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "IMOBILIARIA ANDRE"
          },
          "returnAll": true,
          "timeMax": "={{ $now.plus({ week: 5 }) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          1024,
          1232
        ],
        "id": "c6806042-8756-4982-9c9d-f7c4dcd171ff",
        "name": "buscar eventos já reistrados",
        "alwaysOutputData": true,
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "pS68tKlfKjOQMC3e",
            "name": "Google Calendar andre"
          }
        }
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1232,
          1232
        ],
        "id": "6969f502-ec86-4dd6-bb28-44c99a7c89aa",
        "name": "juntar eventos"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a366af35-ca99-40ab-bd55-e9304e117f80",
                "name": "data",
                "value": "={{\n\n(() => {\n  const eventosAgendados = $json.data;\n  const disponibilidadeSemanal = $('definir agenda').first().json;\n\n  const timezone = disponibilidadeSemanal.timezone || \"America/Sao_Paulo\";\n  const intervaloSemanas = 12;\n  const intervaloMinutos =\n    Number(disponibilidadeSemanal.timeBetweenMeetingsMinutes) || 30;\n\n  const dayMap = {\n    0: \"DOM\",\n    1: \"SEG\",\n    2: \"TER\",\n    3: \"QUA\",\n    4: \"QUI\",\n    5: \"SEX\",\n    6: \"SAB\"\n  };\n\n  function getDateWithTime(date, timeStr) {\n    if (!timeStr) return null;\n    const [hour, minute] = timeStr.split(\":\").map(Number);\n    const d = new Date(date);\n    d.setHours(hour, minute, 0, 0);\n    return d;\n  }\n\n  function formatTime(date) {\n    return date.toLocaleTimeString(\"pt-BR\", {\n      hour: \"2-digit\",\n      minute: \"2-digit\",\n      timeZone: timezone\n    });\n  }\n\n  function formatDate(date) {\n    return date.toLocaleDateString(\"en-CA\", {\n      timeZone: timezone\n    }); // YYYY-MM-DD correto\n  }\n\n  function saoMesmoDia(a, b) {\n    return (\n      a.getFullYear() === b.getFullYear() &&\n      a.getMonth() === b.getMonth() &&\n      a.getDate() === b.getDate()\n    );\n  }\n\n  function gerarHorariosDisponiveis() {\n    const horariosDisponiveis = [];\n\n    const agora = new Date(\n      new Date().toLocaleString(\"en-US\", { timeZone: timezone })\n    );\n\n    const hoje = new Date(agora);\n    hoje.setHours(0, 0, 0, 0);\n\n    const eventosValidos = Array.isArray(eventosAgendados)\n      ? eventosAgendados.filter(e => e?.start?.dateTime && e?.end?.dateTime)\n      : [];\n\n    for (let i = 0; i < intervaloSemanas * 7; i++) {\n      const dataAtual = new Date(hoje);\n      dataAtual.setDate(hoje.getDate() + i);\n\n      const diaSemana = dayMap[dataAtual.getDay()];\n      const configDia = disponibilidadeSemanal.schedule.find(\n        d => d.day === diaSemana\n      );\n\n      if (!configDia || !configDia.available) continue;\n\n      let inicioJanela = getDateWithTime(dataAtual, configDia.hours.after);\n      const fimJanela = getDateWithTime(dataAtual, configDia.hours.before);\n      if (!inicioJanela || !fimJanela) continue;\n\n      // Se for hoje, começa do horário atual\n      if (i === 0 && inicioJanela < agora) {\n        inicioJanela = new Date(agora);\n        inicioJanela.setMinutes(\n          Math.ceil(inicioJanela.getMinutes() / intervaloMinutos) *\n            intervaloMinutos,\n          0,\n          0\n        );\n      }\n\n      const eventosDoDia = eventosValidos.filter(evento => {\n        const inicioEvento = new Date(evento.start.dateTime);\n        const fimEvento = new Date(evento.end.dateTime);\n        return (\n          saoMesmoDia(inicioEvento, dataAtual) &&\n          fimEvento > inicioJanela &&\n          inicioEvento < fimJanela\n        );\n      });\n\n      for (\n        let slotInicio = new Date(inicioJanela);\n        slotInicio < fimJanela;\n        slotInicio = new Date(slotInicio.getTime() + intervaloMinutos * 60000)\n      ) {\n        const slotFim = new Date(\n          slotInicio.getTime() + intervaloMinutos * 60000\n        );\n        if (slotFim > fimJanela) break;\n\n        const conflita = eventosDoDia.some(evento => {\n          const inicioEvento = new Date(evento.start.dateTime);\n          const fimEvento = new Date(evento.end.dateTime);\n          return slotInicio < fimEvento && slotFim > inicioEvento;\n        });\n\n        if (!conflita) {\n          horariosDisponiveis.push({\n            data: formatDate(slotInicio), // 🔥 SEM UTC\n            start: formatTime(slotInicio),\n            end: formatTime(slotFim)\n          });\n        }\n      }\n    }\n\n    return horariosDisponiveis;\n  }\n\n  try {\n    return JSON.stringify(gerarHorariosDisponiveis());\n  } catch (err) {\n    return JSON.stringify({\n      error: err.message,\n      stack: err.stack\n    });\n  }\n\n})()\n\n}}\n",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1504,
          1232
        ],
        "id": "0597c80a-1d28-4a1e-8a04-1bff70f44864",
        "name": "definir disponibilidade"
      },
      {
        "parameters": {
          "content": "# Buscar Eventos já registrados",
          "height": 360,
          "width": 400
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          976,
          1072
        ],
        "typeVersion": 1,
        "id": "14fa8df0-0825-4fcf-9e1c-031afb4789b0",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "# Verifica os horarios disponíveis",
          "height": 360,
          "width": 340
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1408,
          1072
        ],
        "typeVersion": 1,
        "id": "76866dcb-2eac-459c-87ad-9cca383c017d",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "content": "## Seleciona dias/horários e retorna tudo em uma string formatada",
          "height": 360,
          "width": 360
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1792,
          1072
        ],
        "typeVersion": 1,
        "id": "3cccd4b2-688e-4578-946a-1f79db171aa2",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ae0721c6-ba73-46a9-aefd-a131a3051254",
                "name": "response",
                "value": "={{ $json.disponibilidade }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2208,
          1232
        ],
        "id": "bf960ad5-8865-49cf-b59a-b30fd9efe524",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "jsCode": "// Entrada: items[0].json.data = [{ data: \"YYYY-MM-DD\", start: \"HH:MM\" }, ...]\nconst inputData = items[0].json.data;\n\n// 1) Agrupar horários por dia\nconst agrupadoPorDia = {};\nfor (const slot of inputData) {\n  if (!agrupadoPorDia[slot.data]) {\n    agrupadoPorDia[slot.data] = [];\n  }\n  agrupadoPorDia[slot.data].push(slot.start);\n}\n\n// 2) Ordenar dias (YYYY-MM-DD já ordena corretamente como string)\nconst diasOrdenados = Object.keys(agrupadoPorDia).sort();\n\n// 3) Selecionar até 15 dias\nconst selecionados = [];\n\n// Função auxiliar para parse de HH:MM\nconst parseHM = (h) => {\n  const [hh, mm] = h.split(\":\").map(n => parseInt(n, 10));\n  return { hh, mm };\n};\n\nfor (const dia of diasOrdenados.slice(0, 15)) {\n  // Ordena todos os horários do dia\n  const horariosOrdenados = agrupadoPorDia[dia].sort();\n\n  // Manhã: até 12:00\n  const manha = horariosOrdenados.filter(h => {\n    const { hh, mm } = parseHM(h);\n    return hh < 12 || (hh === 12 && mm === 0);\n  });\n\n  // Tarde: a partir das 13:00 (até 10 horários)\n  const tarde = horariosOrdenados\n    .filter(h => {\n      const { hh } = parseHM(h);\n      return hh >= 13;\n    })\n    .slice(0, 10);\n\n  // Formata dd/mm às HH:MM\n  const escolhidosFormatados = [...manha, ...tarde].map(h => {\n    const [year, month, day] = dia.split(\"-\");\n    return `${day}/${month} às ${h}`;\n  });\n\n  selecionados.push(...escolhidosFormatados);\n}\n\n// 4) Juntar tudo em uma única string\nconst resultado = selecionados.join(\", \");\n\n// 5) Retorno no formato do n8n\nreturn [\n  {\n    json: {\n      disponibilidade: resultado\n    }\n  }\n];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1904,
          1232
        ],
        "id": "991d364f-d939-49ec-b78e-f2b0e2cf83a0",
        "name": "Code"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "446ebc90-06ae-4258-a224-c5ab53b5913d",
                "name": "NomeLead",
                "value": "={{ $('setarInformacoes').item.json.nome_lead }}",
                "type": "string"
              },
              {
                "id": "d527479e-9c5f-43f8-89b8-d9ba46da1f05",
                "name": "Procedimento",
                "value": "={{ $('setarInformacoes').item.json.procedimento }}",
                "type": "string"
              },
              {
                "id": "3cee3dfc-8157-4934-8b6a-656954cddcf4",
                "name": "whatsapp_lead",
                "value": "={{ $('setarInformacoes').item.json.whatsapp_lead }}",
                "type": "string"
              },
              {
                "id": "46b6b089-568c-4915-83fc-a18c8e581d96",
                "name": "diaHoraConsulta",
                "value": "={{ $json.start.dateTime }}",
                "type": "string"
              },
              {
                "id": "2db684d5-feea-4edc-a6a1-d425c3b5e2f2",
                "name": "identficadorLead",
                "value": "={{ $('setarInformacoes').item.json.identificador_lead }}",
                "type": "string"
              },
              {
                "id": "245cbb23-ecc5-4dde-a770-d5d0ab317c8d",
                "name": "id_agendamento",
                "value": "={{ $json.id }}",
                "type": "string"
              },
              {
                "id": "53e521d7-57a8-40e6-ad95-59bdfccf2e0b",
                "name": "dataHoraGrupo",
                "value": "={{\n  DateTime\n    .fromISO($json.start.dateTime)\n    .setZone('America/Sao_Paulo')\n    .toFormat(\"dd/MM 'às' HH'hrs'\")\n}}",
                "type": "string"
              },
              {
                "id": "50e769d5-cfb7-4cff-a17c-b94fe6f746d0",
                "name": "agendamento_fora_horario_comercial",
                "value": "={{ $('setarInformacoes').item.json.fora_horario_comercial }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2048,
          320
        ],
        "id": "611f2f65-0667-4898-930b-2285df7ed1f4",
        "name": "setarInfo"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "nome_lead"
              },
              {
                "name": "inicio_agendamento"
              },
              {
                "name": "final_agendamento"
              },
              {
                "name": "evento"
              },
              {
                "name": "whatsapp_lead"
              },
              {
                "name": "id_agendamento"
              },
              {
                "name": "url_chatwoot"
              },
              {
                "name": "intencao_lead"
              },
              {
                "name": "imovel_lead"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          80,
          656
        ],
        "id": "7463a28c-305f-4fe6-9e90-721e1f8a76ee",
        "name": "exec workflow"
      },
      {
        "parameters": {
          "content": "# Etiquetar a conversa como \"visita_marcada\"",
          "height": 336,
          "width": 464
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2784,
          160
        ],
        "typeVersion": 1,
        "id": "6497a473-d1c9-4c0a-9773-cce951a546b3",
        "name": "Sticky Note7"
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "IMOBILIARIA_ANDRE",
          "filters": {
            "conditions": [
              {
                "keyName": "Whatsapp",
                "condition": "eq",
                "keyValue": "={{ $('setarInformacoes').item.json.whatsapp_lead }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "Data da visita",
                "fieldValue": "={{ $('setarInfo').item.json.diaHoraConsulta }}"
              },
              {
                "fieldId": "id_agendamento",
                "fieldValue": "={{ $('setarInfo').item.json.id_agendamento }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          2496,
          320
        ],
        "id": "37f96287-fd2c-45ee-a057-234e214a33a2",
        "name": "marcarData",
        "credentials": {
          "supabaseApi": {
            "id": "5FjTcJdDLCf35qXe",
            "name": "Supabase andre"
          }
        }
      },
      {
        "parameters": {
          "content": "# Marcar data da consulta no banco de dados\n",
          "height": 336,
          "width": 416,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2320,
          160
        ],
        "typeVersion": 1,
        "id": "1a62297a-3a24-4b8d-9bda-16e7c9470776",
        "name": "Sticky Note6"
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "IMOBILIARIA_ANDRE",
          "filters": {
            "conditions": [
              {
                "keyName": "Whatsapp",
                "condition": "eq",
                "keyValue": "={{ $('setarInformacoes').item.json.whatsapp_lead }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "Data da visita",
                "fieldValue": "={{ null }}"
              },
              {
                "fieldId": "id_agendamento"
              },
              {
                "fieldId": "Marcou no Grupo"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1040,
          640
        ],
        "id": "c19c63f6-a2d4-4415-8882-0cdbfc7caac5",
        "name": "tirarData",
        "credentials": {
          "supabaseApi": {
            "id": "5FjTcJdDLCf35qXe",
            "name": "Supabase andre"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "IMOBILIARIA_ANDRE",
          "filters": {
            "conditions": [
              {
                "keyName": "Whatsapp",
                "condition": "eq",
                "keyValue": "={{ $('setarInformacoes').item.json.whatsapp_lead }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "Data da visita",
                "fieldValue": "={{ $json.start.dateTime }}"
              },
              {
                "fieldId": "id_agendamento",
                "fieldValue": "={{ $json.id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1760,
          880
        ],
        "id": "c902603e-cad3-4325-ba1c-546adc6019fb",
        "name": "atualizarData",
        "credentials": {
          "supabaseApi": {
            "id": "5FjTcJdDLCf35qXe",
            "name": "Supabase andre"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('setarInformacoes').item.json.url_chatwoot }}api/v1/accounts/{{ $json['IDConta ChatWoot'] }}/conversations/{{ $json['IDConversa ChatWoot'] }}/labels",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {}
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\n  \"labels\": [\n    \"visita_marcada\"\n  ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2960,
          320
        ],
        "id": "dcee6204-024f-4b3e-ac9a-fbdff14ff2fc",
        "name": "etiqueta_avaliacao_agendada",
        "credentials": {
          "httpHeaderAuth": {
            "id": "22mO2MwTUWim0Et4",
            "name": "chatwoot Andre"
          }
        }
      }
    ],
    "connections": {
      "Marca": {
        "main": [
          [
            {
              "node": "setarInfo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Já tem um evento": {
        "main": [
          [
            {
              "node": "If5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Calendar1": {
        "main": [
          [
            {
              "node": "tirarData",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Calendar3": {
        "main": [
          [
            {
              "node": "atualizarData",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verifica evento1": {
        "main": [
          [
            {
              "node": "Google Calendar3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If6": {
        "main": [
          [
            {
              "node": "Verifica evento1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields9",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Disponibilidade1": {
        "main": [
          [
            {
              "node": "If6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If5": {
        "main": [
          [
            {
              "node": "Edit Fields6",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Marca",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch4": {
        "main": [
          [
            {
              "node": "Já tem um evento",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Google Calendar1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Disponibilidade1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "definir agenda",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "setarInformacoes": {
        "main": [
          [
            {
              "node": "Switch4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "definir agenda": {
        "main": [
          [
            {
              "node": "buscar eventos já reistrados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "buscar eventos já reistrados": {
        "main": [
          [
            {
              "node": "juntar eventos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "juntar eventos": {
        "main": [
          [
            {
              "node": "definir disponibilidade",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "definir disponibilidade": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "setarInfo": {
        "main": [
          [
            {
              "node": "marcarData",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "exec workflow": {
        "main": [
          [
            {
              "node": "setarInformacoes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "marcarData": {
        "main": [
          [
            {
              "node": "etiqueta_avaliacao_agendada",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "tirarData": {
        "main": [
          [
            {
              "node": "Edit Fields7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "atualizarData": {
        "main": [
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "etiqueta_avaliacao_agendada": {
        "main": [
          [
            {
              "node": "response1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "PABLO MEDINA",
    "name": "Version 032a3e7e",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-27T19:14:12.047Z",
        "id": 11,
        "workflowId": "OcvkTYN4KJPuOH9C",
        "versionId": "032a3e7e-0dd2-43b9-848b-66ae78daa268",
        "event": "activated",
        "userId": "595fd4e5-a243-4d30-88ac-7327a99f627e"
      }
    ]
  }
}
