docs/n8n/legados/vc-01-webhook-entrada-mensagens-whatsapp.json
{
  "updatedAt": "2026-04-07T01:57:20.584Z",
  "createdAt": "2026-04-07T01:57:20.584Z",
  "id": "Mhy7nZUYxVHMIuK0",
  "name": "VC-01 | Webhook Entrada Mensagens WhatsApp",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "node-webhook",
      "name": "Webhook UazAPI",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "vc-whatsapp-inbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "c04cfe5d-a516-4695-a181-3392230ccd2f"
    },
    {
      "id": "node-filter-msg",
      "name": "Filtrar Mensagem Válida",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "messages.upsert",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-filter-bot",
      "name": "Ignorar Mensagem do Bot",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond2",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-extract",
      "name": "Extrair Dados da Mensagem",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        900,
        200
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "phone",
              "value": "={{ $json.body.data.key.remoteJid.replace('@s.whatsapp.net', '') }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "message",
              "value": "={{ $json.body.data.message.conversation ?? $json.body.data.message.extendedTextMessage.text ?? '' }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "instance_id",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "org_id",
              "value": "={{ $('Webhook UazAPI').item.json.headers['x-org-id'] ?? 'default' }}",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "message_id",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "a6",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "a7",
              "name": "pushName",
              "value": "={{ $json.body.data.pushName ?? '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-dispatcher",
      "name": "Chamar Dispatcher",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_BASE_URL }}/vc-dispatcher",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "instance_id",
              "value": "={{ $json.instance_id }}"
            },
            {
              "name": "org_id",
              "value": "={{ $json.org_id }}"
            },
            {
              "name": "message_id",
              "value": "={{ $json.message_id }}"
            },
            {
              "name": "pushName",
              "value": "={{ $json.pushName }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-respond",
      "name": "Responder Webhook OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1340,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"received\" }",
        "options": {}
      }
    },
    {
      "id": "node-respond-ignore",
      "name": "Responder Ignorado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        680,
        420
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ignored\" }",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook UazAPI": {
      "main": [
        [
          {
            "node": "Filtrar Mensagem Válida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Mensagem Válida": {
      "main": [
        [
          {
            "node": "Ignorar Mensagem do Bot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Ignorado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ignorar Mensagem do Bot": {
      "main": [
        [
          {
            "node": "Extrair Dados da Mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Ignorado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Dados da Mensagem": {
      "main": [
        [
          {
            "node": "Chamar Dispatcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamar Dispatcher": {
      "main": [
        [
          {
            "node": "Responder Webhook OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "b224ede3-ccc4-4db7-be53-51dddb458df7",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-07T01:57:20.587Z",
      "createdAt": "2026-04-07T01:57:20.587Z",
      "role": "workflow:owner",
      "workflowId": "Mhy7nZUYxVHMIuK0",
      "projectId": "AKiCCH0oxaoQhr2Z",
      "project": {
        "updatedAt": "2026-03-27T14:30:55.615Z",
        "createdAt": "2026-03-27T14:27:20.854Z",
        "id": "AKiCCH0oxaoQhr2Z",
        "name": "PABLO MEDINA <digitalvisualis@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "595fd4e5-a243-4d30-88ac-7327a99f627e"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
